.container-fluid.text-center.mt-4
  .row
    .col-sm-12.col-md-9.col-lg-6.mx-auto
      %h2 Create a Game Room
      = form_with model: @room, local: true do |f|
        = render partial: 'devise/shared/error_messages', locals: { resource: @room }
        .input-group
          = f.text_field :name, class: 'form-control mt-0', placeholder: 'Enter room name', ariadescribedby: "create-room-btn", required: true
          = f.submit 'Create Room', id:"create-room-btn", class: 'btn bg-dark text-white'
  - if @rooms.any?
    .row.row-cols-1.row-cols-lg-3.align-items-stretch.g-4.py-5.mx-4
      - @rooms.each do |room|
        .col
          .card.text-primary.bg-white.rounded-3.shadow-lg.p-2
            %span.text-end
              = link_to 'Delete', room_path(room.id), method: :delete, data: { confirm: "Are you sure you want to delete #{room.name.upcase}?"}, class: 'btn btn-outline-danger btn-sm' 
            = link_to edit_room_path(room) do
              %strong.fs-5.text-primary.p-2
                = room.name
            %div.d-flex.justify-content-between
              %span.text-dark
                = image_tag '/music-note-list.svg', alt: 'music-note-list'
                = room.tracks.count
              %span.text-start.text-secondary
                By
                = current_user.username
