%p
  ="Welcome,"
  = current_user.username
%p
  = current_user.points
  ='points'
= link_to 'CREATE A ROOM', new_room_path
- if @rooms.any?
  %ul
    - @rooms.each do |room|
      %li
        = link_to room.name, edit_room_path(room)
        = link_to "Delete", room_path(room.id), |
      method: :delete, |
      data: { confirm: "Are you sure you want to delete #{room.name}?" }

= form_with model: @room, local: true do |f|
  = render partial: 'devise/shared/error_messages', locals: { resource: @room }
  = f.label :name, 'Enter room name'
  = f.text_field :name, required: true
  = f.submit 'Create Room'