.container-fluid.text-center.mt-4
  .row
    .col-sm-12.col-md-9.col-lg-6.mx-auto
      %button.btn.btn-primary.btn-lg{"data-bs-target" => "#createGameModal", "data-bs-toggle" => "modal", type: "button"}
        CREATE GAME ROOM
      #createGameModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "createGameModalLabel", tabindex: "-1"}
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header
              %h5#createGameModalLabel.modal-title.text-dark.text-center New Game Room
              %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
            .modal-body
              = form_with model: @room, local: true do |f|
                = render partial: 'devise/shared/error_messages', locals: { resource: @room }
                = f.text_field :name, class: 'form-control mt-0', placeholder: 'Enter room name', required: true
                .modal-footer
                = f.submit 'Create Room', class: 'btn btn-primary'
  - if @rooms.any?
    .row.row-cols-1.row-cols-md-2.row-cols-lg-3.align-items-stretch.g-4.py-5.mx-4
      - @rooms.each do |room|
        .col
          .card.text-primary.bg-white.rounded-3.shadow-lg.p-2
            %span.text-end
              = link_to 'Delete', room_path(room.id), method: :delete, data: { confirm: "Are you sure you want to delete #{room.name}?"}, class: 'btn btn-outline-danger btn-sm' 
            = link_to edit_room_path(room) do
              %strong.fs-5.text-primary.p-2
                = room.name
            %div.d-flex.justify-content-between
              %span.text-dark
                = image_tag '/music-note-list.svg', alt: 'music-note-list'
                = room.tracks.count
              %span.text-start.text-secondary
                By
                = current_user.username
