%nav.navbar.navbar-expand-lg.navbar-dark.position-absolute
  = link_to root_path, class:'navbar-brand mx-2' do  
    = image_tag '/logo.svg', alt: '', height: '50', width: '50'
    Drop that Beat
.row.h-100.w-100.bg-light.m-0
  .col.d-flex.justify-content-center.bg-primary
    = image_tag '/girl-listening-music.svg', width: '60%'
  .col.d-flex.justify-content-center.align-items-center.text-dark.position-relative
    %div.col-md-6
      %h2.text-center
        %strong Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: 'text-center my-4'}) do |f|
        .form-floating
          = f.text_field :username, id: 'username', class: 'form-control', placeholder: 'Username'
          = f.label :username, for: 'username'
          %br/
        .form-floating
          = f.password_field :password, id: 'password', class: 'form-control', placeholder: 'Password', autocomplete: "current-password"
          = f.label :password, for: 'password'
        .field.mt-4
          = f.check_box :remember_me
          = f.label :remember_me
        .actions.position-relative
          = f.submit "LOG IN", class: 'btn btn-secondary w-100 my-4'
          %div.text-center 
            = link_to "Forgot your password?", new_password_path(resource_name), class: 'text-dark text-decoration-underline'
            %br/
            = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: 'text-dark text-decoration-underline'
            %br/
            %p.mt-4 
              Don't have an account?
              = link_to 'Sign Up', new_registration_path(resource_name), class: 'text-dark text-decoration-underline'
            %br
            %span.text-muted &#169; Drop that Beat 2021