%h1 
  = @room.name.upcase
  = 'ROOM'
%div
  %h3 STEP 1
  %h3 Search a Song
  = render 'tracks/search_tracks'
%div
  %h3 STEP 2
  %h3 Create a Playlist
  #room_playlist
    - if @room.tracks.any?
      = render 'tracks/track', tracks: @room.tracks.reverse_order
%div
  %h3 STEP 3
  %h3 Set Rounds
  = form_with model: @room, local: false do |f|
    = render partial: 'devise/shared/error_messages', locals: { resource: @room }
    = f.label :rounds
    = f.select :rounds, options_for_select([[1, 1], [2, 2], [3, 3] ], @room.rounds)
    %br
    = f.submit 'Finish setup'
:javascript
  function removeParentElem() {
    if (this.dataset.target != 'parent') return;
    $(this).fadeOut(200, () => {
      $(this).parent().remove();
    });
  };
  $(document).on('ajax:success', () => {
    $("a[data-animate='fadeOut']").on('click', removeParentElem);
  });
  $(document).on('turbolinks:load', () => {
    $("a[data-animate='fadeOut']").on('click', removeParentElem);
  });