%h1 
  = @room.name.upcase
  = 'ROOM'
%h3 STEP 1
%h3 Search a Song
= form_with local: false do |f|
  = f.text_field :name, required: true
  = f.submit 'Search'
%h3 STEP 2
%h3 Create a Playlist
- if @room.tracks.any?
  %table 
    %thead 
      %tr
        %th Title
        %th Artist
        %th Action
    %tbody 
      - @room.tracks.each do |track|
        %tr 
          %td
            = track.name
          %td 
            = track.artist
          %td Remove
%h3 STEP 3
%h3 Set Rounds
= form_with model: @room, local: false do |f|
  = f.label :rounds
  = f.number_field :rounds, min: 1, step: 1
  %br
  = f.submit 'Finish setup'