.container-fluid.text-center.mt-4.col-xl-9
  %h1 All Game Rooms
  %p.fs-4 search for rooms to play
  = form_tag rooms_path, method: :get, role: "search" do
    .input-group
      = text_field_tag :search, params[:search], placeholder: 'Enter artist', class: 'form-control shadow', ariadescribedby: "search-artist"
      = button_tag :submit, class: 'btn-dark mt-3', id: 'search-artist' do
        %i.fas.fa-search
  - if @rooms
    .row.row-cols-1.row-cols-md-2.row-cols-lg-3.align-items-stretch.g-4.py-5.mx-4
      - @rooms.each do |room|
        .col
          = link_to room_path(room) do
            .card.text-primary.bg-white.rounded-3.shadow-lg.p-2
              %strong.fs-5.text-primary.mx-2.pt-2= room.name
              %div.text-secondary.d-flex.justify-content-between
                %span
                  = image_tag '/music-note-list.svg', alt: 'music-note-list'
                  = room.tracks.count
                %span.d-flex
                  = image_tag '/user-with-note.svg', alt: 'user-with-note', height: '20', width: '20', class: 'mx-1'
                  = room.users.first.username