%header
  %a(href="#{root_path}") 
    = image_tag '/logo.svg', alt: 'logo', height: '50', width: '50', class: ''
  - if user_signed_in?
    = link_to "Home", root_path 
    |
    = link_to "Log Out", destroy_user_session_path, method: :delete
    |
    = link_to "Update Password", edit_user_registration_path 
    |
    = link_to "All Rooms", rooms_path
  - else
    = link_to "Sign Up", new_user_registration_path
    = link_to "Log In", new_user_session_path
    